@import url(http://fonts.googleapis.com/css/?family=Montserrat:40,700);

body {
	margin: 0;
	color: #555;
	font-family: 'Montserrat', sans-serif;
	min-height: 100%;
}

#header {
	background-color: #1abc9c;
	height: 150px;
	line-height: 150px;
	padding: 50px;
	width: 100%;
}

#header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header a:hover {
	color: #222;
}

#header-title {
	display: block;
	float: left;
	font-size: 20px;
	font-weight: bold;
}

#header-nav {
	display: block;
	float: right;
	margin-top: 0;
}

#header-nav li {
	display: inline;
	padding-left: 20px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

#footer {
	background-color: #2f2f2f;
	padding: 50px;
	height: 150px;
	bottom: 0;
	width:100%;
	position: absolute;
}

.column {
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	position: relative;
}

#footer p {
	color: white;
}

a {
	color: #1abc9c;
	text-decoration: none;
}

a:hover {
	color: #f6a623;
}

.post-container:nth-child(even) {
	background-color: #f2f2f2;
}

.post, .about {
	max-width: 800px;
	margin: auto;
	padding: 20px 5px;
}

.about {
text-align: center;
}

.post-author img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	border-radius: 25px;
}

.post-author span {
	margin-left: 16px;
}

.post-date {
	color: #D2D2D2;
	
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
	color: #333;
}

p {
	line-height: 1.5;
}



